.works {
  background-color: var(--tertiary);
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 400px;
  display: flex;
  position: absolute;
  left: 0;
}

.worksContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.worksTitle {
  transform: translateY(-225px);
  font-size: 50px;
  color: var(--quartenary);
}

.worksItem {
  width: 900px;
  height: 100%;
  background-color: var(--quartenary);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.worksLeft {
  flex: 4;
  height: 100%;
  display: flex;
  color: var(--quartenary);
  background-color: var(--primary);
}

.skillList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-left: -3px;
}

.skillList li {
  height: 30px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 15px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: var(--quartenary);
  color: var(--tertiary);
  border-radius: 20px;
}

.worksRight {
  flex: 8;
  height: 100%;
  background-color: var(--quartenary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.worksRight p {
  padding-left: 5px;
  padding-right: 5px;
  color: var(--tertiary);
  line-height: 1.4em;
  font-size: large;
  font-weight: 200;
}
