.nav {
  width: 100vw;
  height: 70px;
  background-color: var(--primary);
  color: var(--tertiary);
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
}

.wrapper {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  margin-right: 40px;
}

.left {
  display: flex;
  align-items: center;
}

.itemContainer {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.icon {
  font-size: 10px;
  margin-right: 5px;
}

span {
  font-size: 15px;
  font-weight: 500;
}

.right {
  display: flex;
  align-items: center;
}

.right ul li {
  display: inline;
  justify-content: space-around;
  margin: 25px;
  text-decoration: none;
  list-style: none;
}

.right ul li a {
  text-decoration: none;
  color: var(--tertiary);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}

.burger {
  display: none;
}

.burger div {
  width: 32px;
  height: 3px;
  background-color: var(--tertiary);
  margin: 5px;
  transform-origin: left;
  transition: 2s all ease;
}

.active {
  background-color: var(--tertiary);
  color: var(--primary);
}

.burgerActive div:first-child {
  background-color: var(--primary);
  transform: rotate(55deg);
}

.burgerActive div:nth-child(2) {
  opacity: 0;
}

.burgerActive div:last-child {
  background-color: var(--primary);
  transform: rotate(-55deg);
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: var(--primary);
}

.logo {
  color: var(--tertiary);
  letter-spacing: 5px;
  font-size: 20px;
} */

@media screen and (max-width: 1080px) {
  /* .right ul li a {
    position: absolute;
    right: 0px;
    height: calc(100vh - 70px);
    top: 70px;
  } */

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .right {
    display: none;
  }
}
